# Build results
bin/
obj/
*.exe
*.dll

# Rider
.idea/
*.sln.iml

# User-specific files
*.user
*.suo

# Entity Framework
Migrations/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
# Node modules
node_modules/
dist/
.env

# inne popularne ignorowane pliki
.vscode/
